@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url(./styles/footer.css);
@import url(./styles/scroll.css);
@import url(./styles/header.css);


p {
    margin: 0%;
}

.page {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}