@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url(./styles/footer.css);
@import url(./styles/scroll.css);
@import url(./styles/header.css);
@import url(./styles/support.css);
@import url(./styles/city.css);
@import url(./styles/participants.css);



body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;

}

h4 {
    margin: 0;

}

.page {
    /* border: 1px solid red; */

    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #313131;
}

.table__col_two {
    font-weight: 700;
}

.section__title {
    border: 1px solid red;
    width: 1222;
    height: 130px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    margin-top: 200px;
}

.section__title_text {
    font-family: 'Merriweather', serif;
    font-size: 54px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    grid-row: 1 / span 2;


}