.footer {
    background-color: #E9DED4;
    width: 1366px;
    height: 150px;
}

.footer__text {
    width: 1222px;
    height: 38px;
    margin-top: 40px;
    margin-left: 72px;

    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    opacity: 0.6;
}