/* header starts*/
.header {
    background: #E9DED4;
    color: #313131;
    /* background-image: url(./images/img_back.png); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__text {
    position: relative;
    border: 1px green solid;
    /* width: 1604px; */
}

.header__logo {
    height: 36px;
    margin-top: 26px;
}

.header__title_div {
    width: 542px;
    margin-top: calc(124px-36px-26px);
}

.header__title {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0px;
    text-align: right;
}

.title__line_one {
    text-align: left;
}

.title__line_two {
    text-align: center;
}

.title__line_three {
    text-align: right;
}

.header__subtitle {
    font-family: 'Golos Text', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 24px;
}

.header__buttons {
    margin-top: 22px;
    width: 542px;
    display: flex;
    justify-content: space-between;
}

.header__button {
    width: 263px;
    height: 72px;
    padding: 0px 45px;
    border-radius: 66px;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}

.header__button_black {
    background: #1F1F1F;
    color: #fff;
}

.header__button_black:hover {
    background: #FBCE51;
    color: #1F1F1F;
}

.header__button_white {
    border: 2px solid #1F1F1F;
    color: #1F1F1F;

}

.header__button_white:hover {
    border: 2px solid #1F1F1F;
    background-color: #1F1F1F;
    color: #fff;

}



.header__chess {
    border: 1px solid blue;
    position: relative;

}

.header__img_city {
    width: 1320px;
    object-fit: contain;
    object-position: -235px 0%;
}

.chess__elm_one {}

/* header end*/